.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.form-group label {
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 20rem;
    height: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}