.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 56px;
  background-color: #FE532D;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav a {
  color: #14274C;
  text-decoration: none;
  margin-right: 16px;
  font-size: 24px;
}
  
.header__logo {
  height: 32px;
}

  